<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="./img/boolflix-logo.png" type="img/icon type">
  <link rel="stylesheet" href="./master.css">
  <title>Boolflix</title>
</head>
<body>
  <div id="root">
    <div class="searchbar">
      <i class="fas fa-search"></i>
      <input v-model="inputSearch" type="text" placeholder="Cerca..." @keyup.enter="search">
    </div>
    <div v-for="risultato in risultati">
      <span>{{ risultato.title }}</span>
      <span>{{ risultato.original_title }}</span>
      <span>{{ risultato.original_language }}</span>
      <span>{{ risultato.vote_average }}</span>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./main.js" charset="utf-8"></script>
</body>
</html>
