* {
  padding: 0;
  margin: 0;
}

header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.boolflix-lg img {
  width: 300px;
}

.searchbar {
  margin: 15px
}

.searchbar {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid blue;
  padding: 10px;
  width: 150px;
}

.searchbar input {
  border-style:none;
  padding: 5px 0;
  width: 80%;
  outline: none;
}

.container-results {
  display: flex;
  
}

.result{
  display: flex;
  flex-direction: column;
}
